<table class="w-75 mx-auto">
    <thead>
        <tr>
            <th class="text-center" colspan="10">
                {{store.name}}<br>
                {{store.address}}
            </th>
        </tr>
        <tr>
            <th colspan="2">Name:</th>
            <td colspan="3">{{order.customer}}</td>
            <th colspan="2">Date:</th>
            <td colspan="3">{{order.date|date}}</td>
        </tr>
        <tr>
            <th colspan="2">GSTIN:</th>
            <td colspan="3">{{store.gstin}}</td>
            <th colspan="2">Invoice No:</th>
            <td colspan="3">{{order.invoiceNo}}</td>
        </tr>
        <tr>
            <th colspan="1">Sl. No.</th>
            <th colspan="3">Partition</th>
            <th colspan="1">Quantity</th>
            <th colspan="2">Rate</th>
            <th colspan="3"><span class="float-end">Total</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of order.items; let i=index">
            <td colspan="1">{{i+1}}</td>
            <td colspan="3">{{item.name}}</td>
            <td colspan="1">{{item.quantity}}</td>
            <td colspan="2">&#8377;{{item.rate|showPrice}}</td>
            <td colspan="3"><span class="float-end">&#8377;{{item.price|showPrice}}</span></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">Grand Total: </th>
            <th colspan="3"><span class="float-end">&#8377;{{order.total|showPrice}}</span></th>
        </tr>
    </tfoot>
</table>
<div class="mt-5 text-center">
    <button class="btn btn-dark" (click)="onPrint()">Print</button>
</div>